html {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

#gantt-chart {
  min-height: 3.5rem;
}

#gantt-time {
  height: 1.25rem;
}

.gantt-time-relative {
  position: relative;
}

.truncate-sm {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
